<link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
  <div class='container bg-white p-10 md:w-2/3 lg:w-1/2 mx-auto px-4'>
    
    
    <form action="">      
      <div class='mb-4 flex items-center'>
          <label for="options" class='w-20 inline-block text-right mr-4 text-gray-500'>Carreras</label>
          <div class="relative flex-1">
              <select id="options" class='appearance-none border-b-2 border-gray-300 w-full py-2 pl-2 pr-8 placeholder-gray-300 outline-none focus:border-green-400 bg-transparent'>
                  <option value="" disabled selected>Seleccione una carrera</option>
                  <option value="option1">Carrera 1</option>
                  <option value="option2">Carrera 2</option>
                  <option value="option3">Carrera 3</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <!-- Custom arrow icon -->
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path d="M7 10l5 5 5-5z"/>
                  </svg>
              </div>
          </div>
      </div>


        <div class='mb-4 flex items-center'>
          <label for="niveles" class='w-20 inline-block text-right mr-4 text-gray-500'>Nivel</label>
          <div class="relative flex-1">
              <select id="niveles" class='appearance-none border-b-2 border-gray-300 w-full py-2 pl-2 pr-8 placeholder-gray-300 outline-none focus:border-green-400 bg-transparent'>
                  <option value="" disabled selected>Seleccione un nivel</option>
                  <option value="option1">Cohorte 1</option>
                  <option value="option2">Cohorte 2</option>
                  <option value="option3">Cohorte 3</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <!-- Custom arrow icon -->
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path d="M7 10l5 5 5-5z"/>
                  </svg>
              </div>
          </div>
      </div>


     
      <div class="flex items-center mb-6">
        <!-- Contenedor para el campo de fecha inicial con estilo de línea en la parte inferior -->
        <div class="flex flex-row items-center w-1/2">
          <label for="start-date" class="block text-gray-700 text-sm font-bold pr-4">Fecha Inicial:</label>
          <input type="date" id="start-date" name="start_date" class="appearance-none bg-transparent text-gray-700 border-b border-gray-200 py-2 px-4 leading-tight focus:outline-none focus:border-blue-500 flex-1" />
        </div>
        
        <!-- Contenedor para el campo de fecha final con estilo de línea en la parte inferior -->
        <div class="flex flex-row items-center w-1/2 pl-4">
          <label for="end-date" class="block text-gray-700 text-sm font-bold pr-4">Fecha Final:</label>
          <input type="date" id="end-date" name="end_date" class="appearance-none bg-transparent text-gray-700 border-b border-gray-200 py-2 px-4 leading-tight focus:outline-none focus:border-blue-500 flex-1" />
        </div>
      </div>
    


        
      <div class='mb-4 flex items-center justify-start space-x-4 mt-4'>
        <div class='flex items-center mr-4'>
            <label for="cuotas" class='w-24 inline-block text-right mr-2 text-gray-500'>Cuotas</label>
            <div class='relative flex items-center'>
                <span class='absolute left-0 pl-3 text-gray-500'>#</span>
                <input id="cuotas" class='border-b-2 border-gray-300 w-full py-2 pl-8 pr-3 placeholder-gray-300 outline-none focus:border-green-400' type="text" inputmode="numeric" pattern="[0-9]*" placeholder='0' title="Solo números" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
            </div>
        </div>
        <div class='flex items-center ml-4'>
            <label for="valor" class='w-24 inline-block text-right mr-2 text-gray-500'>Valor</label>
            <div class='relative flex items-center'>
                <span class='absolute left-0 pl-3 text-gray-500'>$</span>
                <input id="valor" class='border-b-2 border-gray-300 w-full py-2 pl-8 pr-3 placeholder-gray-300 outline-none focus:border-green-400' type="text" placeholder='0.00' oninput="this.value=this.value.replace(/[^0-9.]/g,'');" title="Solo números y punto decimal">
            </div>
        </div>
        <button class="bg-green-500 font-semibold text-green-100 py-2 px-4 rounded">Generar</button>        

    </div>        
        
    </form>



      <div class="mt-2 ">
            <div class="mt-2 flex justify-end mb-4">
              <button class="bg-navy-800 text-gray-200 hover:bg-navy-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-navy-600 rounded-full h-12 w-12 flex items-center justify-center">
                <i class="material-icons">add</i>
              </button>
            </div>
                      <table class="table text-gray-400 border-separate space-y-6 text-sm min-w-full" >
                        <thead class="bg-navy-800 text-gray-200">
                          <tr>
                            <th class="p-3">Brand</th>
                            <th class="p-3 text-left">Category</th>
                            <th class="p-3 text-left">Price</th>
                            <th class="p-3 text-left">Status</th>
                            <th class="p-3 text-left">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bg-navy-700">
                            <td class="p-3">
                              <div class="flex align-items-center">
                                <img class="rounded-full h-12 w-12  object-cover" src="https://images.unsplash.com/photo-1613588718956-c2e80305bf61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80" alt="unsplash image">
                                <div class="ml-3">
                                  <div class="">Appple</div>
                                  <div class="text-gray-500">mail@rgmail.com</div>
                                </div>
                              </div>
                            </td>
                            <td class="p-3">
                              Technology
                            </td>
                            <td class="p-3 font-bold">
                              200.00$
                            </td>
                            <td class="p-3">
                              <span class="bg-green-400 text-gray-50 rounded-md px-2">available</span>
                            </td>
                            <td class="p-3 ">
                              <a href="#" class="text-gray-400 hover:text-gray-100 mr-2">
                                <i class="material-icons-outlined text-base">visibility</i>
                              </a>
                              <a href="#" class="text-gray-400 hover:text-gray-100  mx-2">
                                <i class="material-icons-outlined text-base">edit</i>
                              </a>
                              <a href="#" class="text-gray-400 hover:text-gray-100  ml-2">
                                <i class="material-icons-round text-base">delete_outline</i>
                              </a>
                            </td>
                          </tr>
                          <tr class="bg-navy-700">
                            <td class="p-3">
                              <div class="flex align-items-center">
                                <img class="rounded-full h-12 w-12   object-cover" src="https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="unsplash image">
                                <div class="ml-3">
                                  <div class="">Realme</div>
                                  <div class="text-gray-500">mail@rgmail.com</div>
                                </div>
                              </div>
                            </td>
                            <td class="p-3">
                              Technology
                            </td>
                            <td class="p-3 font-bold">
                              200.00$
                            </td>
                            <td class="p-3">
                              <span class="bg-red-400 text-gray-50 rounded-md px-2">no stock</span>
                            </td>
                            <td class="p-3">
                              <a href="#" class="text-gray-400 hover:text-gray-100  mr-2">
                                <i class="material-icons-outlined text-base">visibility</i>
                              </a>
                              <a href="#" class="text-gray-400 hover:text-gray-100 mx-2">
                                <i class="material-icons-outlined text-base">edit</i>
                              </a>
                              <a href="#" class="text-gray-400 hover:text-gray-100 ml-2">
                                <i class="material-icons-round text-base">delete_outline</i>
                              </a>
                            </td>
                          </tr>
                          <tr class="bg-navy-700">
                            <td class="p-3">
                              <div class="flex align-items-center">
                                <img class="rounded-full h-12 w-12   object-cover" src="https://images.unsplash.com/photo-1600856209923-34372e319a5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2135&q=80" alt="unsplash image">
                                <div class="ml-3">
                                  <div class="">Samsung</div>
                                  <div class="text-gray-500">mail@rgmail.com</div>
                                </div>
                              </div>
                            </td>
                            <td class="p-3">
                              Technology
                            </td>
                            <td class="p-3 font-bold">
                              200.00$
                            </td>
                            <td class="p-3">
                              <span class="bg-yellow-400 text-gray-50  rounded-md px-2">start sale</span>
                            </td>
                            <td class="p-3">
                              <a href="#" class="text-gray-400 hover:text-gray-100 mr-2">
                                <i class="material-icons-outlined text-base">visibility</i>
                              </a>
                              <a href="#" class="text-gray-400 hover:text-gray-100 mx-2">
                                <i class="material-icons-outlined text-base">edit</i>
                              </a>
                              <a href="#" class="text-gray-400 hover:text-gray-100 ml-2">
                                <i class="material-icons-round text-base">delete_outline</i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <div class="mt-4 flex justify-center">
                        <button class="bg-navy-800 text-gray-200 hover:bg-navy-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-navy-600 px-4 py-2 rounded-md flex items-center">
                          <i class="material-icons">save</i>
                          <span class="ml-2">Guardar</span>
                        </button>
                      </div>
      </div>
    </div>